body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table 
{
    display: inline-block;
    margin: 10px;
    border-collapse: collapse;
    text-align: center;
}

tr:first-child, tr td:first-child 
{
    font-weight: bold;
}

td 
{ 
    border: 1px solid #000;
}

@media (max-width: 767px)
{
    body 
    {
        flex-direction: column;
    }
}