.itemBurger
{
  margin: 0;
  padding: 0;
  float: left;
}

.burger 
{
  line-height: 40px;
  vertical-align: middle;
  padding: 0 20px;
  cursor: pointer;
  color: #ccc;
}

.burger:hover
{
  color: white;
  background: #455A64;
}

.subItemBurger
{
  min-width: 200px;
  display: block;
  position: absolute;
  background-color: #37474F;
  text-align: left;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: 0 3px 15px black;
  z-index: 1;
}