.divFormMain
{
  font-family: 'Oswald', sans-serif;
  background-color: #ccc;
  /* height: calc(100% - 90px); */
  position: absolute;
  top: 40px;
  bottom: 80px;
  left: 0;
  right: 0;
  overflow: auto;
}

.divFormMain::-webkit-scrollbar
{
  width: 8px;
  background-color: #AAA;
  
}

.divFormMain::-webkit-scrollbar-thumb
{
  background-color: #37474F;
  border-radius: 5px;
}

.divFormMain::-webkit-scrollbar-thumb:hover,
.divFormMain::-webkit-scrollbar-thumb:active
{
  background-color: #455A64;
}